/*remove margens inseridas pelo navegador*/
*{
    margin: 0;
}
/**Tags*/
header{
    height: 100px; /*altura*/
    background-color: red; /*fundo vermelho*/
}
section{
    height: 200px; /*altura*/
    width: 70%; /*largura*/
    background-color: blue; /*fundo:azul*/
    float: left; /*alinhar à esquerda*/
}

aside{
    height: 200px; /**altura*/
    width: 30%; /*largura*/
    background-color: green; /*fundo verde*/
    float: right;
}
footer{
    clear: both; /*corrige problemas de alinhamento*/
    height: 30px; /*altura*/
    background-color: grey; /*fundo cinza*/
    text-align: center; /*texto centralizado*/
}